* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
  background: #f2f4f7;
  color: #101828;
}
a {
  text-decoration: none;
}
